# API Base URL
NEXT_PUBLIC_API_URL=http://localhost:3001

# Admin credentials (for server-side)
ADMIN_USER=admin
ADMIN_PASS=admin123

# Admin credentials (for client-side - must match server-side)
NEXT_PUBLIC_ADMIN_USER=admin
NEXT_PUBLIC_ADMIN_PASS=admin123

# Server
PORT=3001
